body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f9f9f9;
    text-align: center;
}

h1 {
    color: #222;
}

form {
    margin-top: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}